<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>

</head>
<body bgcolor="#f0f8ff">
<h1>LIST></h1>
<form action="/users/signout" method="post" >
    <button type="submit"> SIGN OUT</button>
</form>

<h2> PLEASE UPLOAD YOUR FILE </h2>
<p align="center">
<form action="\users\upload" method="post"
      enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <br>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" name="submit" value="Submit" />
</form>
</p>





<script>
    var arr='<%=array%>';
    var j=arr.split(',');
   // document.write('<br> <a>' + j[0] +'</a></br>');
    for (var i=0;i<j.length;i++){
    document.write('<br>' + '<a href='+ j[i]+'>'+j[i] +'</br>');
}

</script>
</body>
</html>